body { 
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: white;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
}

p {
	color: white;
	font-family: 'Helvetica Neue';
	font-weight: 200;
}

.box {
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
	width: 400px;
	margin: 100px auto;
	text-align: center;
}

span { 
    display: inline-block; 
    position: absolute;
}

/* Set form display */
#contact {
	background-image: url("images/hw_floor.jpg");
}

.form {
	background-image: url("images/bball_court.png");
	padding: 20px;
	width: 400px;
	margin: 100px auto;
	text-align: center;
	background-size: cover;
}

label {
	color: white;
	font-weight: bold;
}
